header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 3rem;
  color: $color-white;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.75),
      rgba($color-black, 0.75)
    ),
    url("../img/stock-orv-g21gmd99az-front-right-lg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
