@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Source+Serif+Pro:wght@300;400;600;700&display=swap");

body {
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-black;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: $color-tertiary;
}
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.75rem;
  color: $color-tertiary;
}
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
  color: $color-secondary;
}
h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: $color-white;
}
p {
  padding: 0;
  margin: 0;
}
